/* Font family - google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Estilos globales del documento */
*{
    box-sizing: border-box;
    margin: 0%;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/* ------ HEADER ------*/
/* Barra superior */
header {
    width: 100vw;
}
.barraSup{
    color: #F3F3F3;
    background-color: #222222;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3vh;
}

.barraSup ul{
    display: flex;
}

/* Barra inferior */
.barraInf{
    background-color: #F0A83E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100%;
}
.barraInf nav{
    font-size: 1.8rem;
    width: 50%;
}
.barraInf nav ul{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
.barraInf nav ul li{
    display: flex;
}
.barraInf nav ul li a{
    color: #F3F3F3;
}
/* ------ FIN HEADER */


/* ------ MAIN ------ */

/* Seccion banner */

.bannerPrincipal{
    background-image: url("../img/bg-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 87vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15%;
}
.bannerPrincipal div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bannerPrincipal div h2{
    color: #3C2313;
    background-color:#F3F3F3;
    font-size: 3.5rem;
    font-weight: 400;
    border-radius: 5px;
    padding: 10px;
}
.bannerPrincipal div p{
    color: #3C2313;
    margin: 15px;
    font-size: 2rem;
}
.bannerPrincipal div button{
    color: #F3F3F3;
    background-color: #F0A83E;
    padding: 10px;
    border-radius: 5px;
    border: hidden;
    font-size: 1.8rem;
}

/* Seccion productos */
.seccionProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.infoProd{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.infoProd img{
    color: #F0A83E;
    width: 65px;
    height: 65px;
}
.infoProd h3{
    color: #3C2313;
    font-size: 3.5rem;
    padding-top: 10px;
    padding-bottom: 20px;
}
.infoProd a{
    color: #666666;
    font-size: 1.5rem;
}
.itemProd{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-top: 50px;
}
.itemProd article{
    background-color: #FBFAF6;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-size: 1.8rem;
}
.itemProd article p{
    color: #3C2313;
}
.itemProd article span{
    color:#F0A83E;
}


/* Formulario de contacto */
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    height: 350px;
}
form h2{
    color: #3C2313;
    font-size: 3.5rem;
}
form input{
    color: #F3F3F3;
    background-color: #3C2313;
    width: 340px;
    height: 50px;
    border-radius: 20px;
    border: none;
    padding: 12px 20px;
}
::placeholder{
    color: #F3F3F3;
    font-size: 1.5rem;
}
form button{
    color: #FFFFFF;
    border-radius: 35px;
    border: none;
    font-size: 1.7rem;
    width: 130px;
    height: 35px;
}
form button.reset{
    background-color: #8A8787;
}
form button.submit{
    background-color:#F0A83E;
}
/* ------ FIN MAIN ------ */


/* ------ FOOTER ------ */
footer{
    width: 100vw;
}

/* Suscripcion */

.suscripcion{
    background-color: #F0A83E;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}
.suscripcion p{
    color: #FFFFFF;
    font-size: 2.8rem;
    font-weight: 700;
    padding: 10px;
}
.suscripcion p i{
    margin: 7px;
}
.suscripcion div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.suscripcion input{
    width: 300px;
    height: 45px;
    border-radius: 50px;
    border: none;
    padding: 12px 20px;
}
.suscripcion ::placeholder{
    color: #626262;
}
.suscripcion button{
    color: #FFFFFF;
    background-color: #3C2313;
    width: 100px;
    border: none;
    border-radius: 50px;
    height: 45px;
    margin: 0px 10px 0px 10px;
}
footer section{
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    width: 100%;
}
footer section a{
    padding-right: 10%;
}
.infoEmpresa{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    padding: 10px;
}
.infoEmpresa div{
    display: flex;
    align-items: center;
}
.infoEmpresa div div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 80%;
    padding-left: 10px;
}
.infoEmpresa h5{
    color: #FFFFFF;
    font-size: 2.5rem;
}
.infoEmpresa p{
    color: #8A8787;
    font-size: 2rem;
}
.copyright{
    color: #FFFFFF;
    background-color: #222222;
    font-size: 1.5rem;
    text-align: center;
}
/* ------ FIN FOOTER ------- */


/*  MEDIA QUERY */

